.main-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 20px;
}

.list-topic-container{
    width: 55%; /* ovde stavim 55%, a u TopicDetailComponent, topic-details-container 45%, nije radilo dobro kad stavim className direktno na TopicDetailComponent u ovoj komponenti */
}

.td-content:hover{
    cursor: pointer;
}


