@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  /* dodato kada se skroluje, da slika ne nestane, vec da bude fiksna nakon sto tabela probije visinu ekrana*/
  .router-components{
    position: relative;
    min-height: 100vh;
  }
    
  
.router-components:before{
    height: 100%; /* izmenjeno umesto 100vh zbog slike da bude fiksna kada tabela probije */
    width: 100%;  /* izmenjeno umesto 100vw zbog slike da bude fiksna kada tabela probije */
    background-image: url('./images/topic-background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
  } 
